
body{
    width: 800px;
   border: 2px solid black;
   padding: 25px;
   margin: auto;
}
#cabecera{
    border-bottom: 2px solid black;
   padding-left: 5px;
   display: flex;
}
#titulo{
    width: 200px;
}
h1{  
    margin-bottom: 0;
    font-size: 27px;
}
h2{
    margin-top: 0;
    font-size: 17px;
}
#menu{
   display: flex;
    width: 100%;
    align-items: center;
    padding: 0;
    
}
.sub{
    display: flex;
    gap: 19px;
    justify-content: end;
    list-style: none;
    font-size: 10px;
    margin: 0;
    width: 100%;
    padding: 0;  
    
}
.sub a{
    text-decoration: none;
}
img{
    width: 200px;
    height: auto;
}
#contenido{
    border: 2px solid black;
    margin: 10px;
}
#logo{
    padding: 15px;
    
}
h3{
    color: blue;
    padding-left: 20px;
}
a{
    color: black;
}
.sub a:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
html{
    scroll-behavior: smooth;
}
#precuelas, #originales, #secuelas{
    margin-top: 20px;
    padding-top: 50px;
}